name: Debug JSON Secret

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"  # every 5 minutes UTC
  

jobs:
  check-secret:
    runs-on: ubuntu-latest
    env:
      GOOGLE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
    steps:
      - name: Check JSON secret exists
        run: |
          if [ -z "$GOOGLE_SERVICE_ACCOUNT_JSON" ]; then
            echo "JSON secret is missing!"
            exit 1
          else
            echo "JSON secret loaded"
          fi
