name: Run Discord Flight Bot

on:
  workflow_dispatch: # manual trigger
  schedule:
    - cron: "*/5 * * * *" # optional, every 5 minutes

jobs:
  run-bot:
    runs-on: ubuntu-latest
    env:
      GOOGLE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        run: python bot.py

      - name: Run Discord Bot
        run: python bot.py
